h1{
    color: gold;
    font-family: Arial, sans-serif;
    font-weight: bold;
    font-size: 2vh;
}

.pop-up-outer{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(51, 51, 51, 0.4);
    display: flex;
    justify-content: center;
    align-items: center;
}

.pop-up-inner
{
    position: relative;
    padding: 32px;
    background-color: rgb(29, 29, 29);
    opacity: 1;
    z-index: 10000 !important;
    border-radius: 10px;
    height: 60vh;
    width: 60vh;
}

.close-btn {
    background-color: transparent;
    border: none;
    color: gold;
    padding: 12px 16px;
    font-size: 32px;
    cursor: pointer;
    position: absolute;
    top: 1vh;
    right: 1vh;

}

.post-date-text{
    font-family: Arial, sans-serif;
    color: grey
}
  
.content{
    display: flex;
    gap: 6vh;

}

.image_and_stars{
    text-align: center;

}

.image_and_stars img  {
    margin-bottom: 2vh
}

.image_and_stars .star-rating {
    margin-bottom: 2vh;
}

.review_box{
    max-width: 17rem;
}

.data_box{
    display: flex;
}

.data_type_text{
    display: flex;
}

.datadiv{
    font-size: 1.5vh;
    gap: 2vh;
}

#titledata{
    gap: 5vh;
}

#reviewtext{
    width: 25vh;
    height: 8vh;
    
}

.titletext{
    background-color: beige;
    width: 25vh;
    height: 5.3vh;
    font-family: Arial, sans-serif;
}

.close-btn:hover {
    color: #5b5b5be7;
}
    
#trash-btn{
    color: rgb(88,88,88);
    
}

#trash-btn:hover{
    color: #b83636e7
}
