*{
    z-index: 10000 !important;
    position: relative;
}

.reviewpopup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(51, 51, 51, 0.4);
    display: flex;
    justify-content: center;
    align-items: center;
}

.reviewpopup-inner {
    position: absolute;
    padding: 32px;
    background-color: rgb(29, 29, 29);
    opacity: 1;
    z-index: 10000 !important;
}

.reviewpopup-inner .close-btn {
    position: absolute;
    top: 16px;
    right: 16px;
}

.data_type_text {
    color: gold;
    text-align: center;
    font-family: "Lucida Console", "Courier New", monospace;
    font-weight: bold;
    font-size: 20px;
}

.review_data {
    padding: 4px;
    
}

.review_table {
    padding-top: 32px;
    
}

.review-box{
    display: flex;
    gap: 2rem;
}

.close-btn {
    background-color: transparent; /* Blue background */
    border: none; /* Remove borders */
    color: gold; /* White text */
    padding: 12px 16px; /* Some padding */
    font-size: 32px; /* Set a font size */
    cursor: pointer; /* Mouse pointer on hover */
}
  
/* Darker background on mouse-over */
.close-btn:hover {
color: #5b5b5be7;
}

.data_box {
    background-color: beige;
    border-radius: 6px;
}


.star-rating {
    width: 100%;
    text-align: center;
    margin: 0 auto; 
}

