*{
    box-sizing: border-box;
    position: relative;
    z-index: 10;
}

img{
    height: 100%;
    width: 100%;
    max-height: 300px;
    max-width: 200px;
    object-fit: cover;
    border-radius: 10px;
}   

body{
    background-color: black;
    visibility: visible;
}

.App{
    background-color: black;
    padding: 2% 15%;
}

.slick-dots li.slick-active button:before {
    color:black !important;
}

#test{
    color: white;
}

.buttonbar{
    margin: auto;
    width: 50%;
    text-align: center;
    display: flex;
    margin-top: 18%;
}

#addbtndiv{
    margin-left: 30%;
    height: 75px;
    width: 75px;
    color: #F5D10D
}

#addbtn {
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    padding-top: 5px;
    background-color: #F5D10D;
}

#addbtn:hover{
    background-color: white;
}

#searchbardiv{
    padding-top: 1.5%;
    margin-left: 2%;
    height: 75px;
    width: 75px;
    border-radius: 50%;
}

#searchbar{
    padding-top: 30;
    margin: 3%;
    background-color: white;
    width: 250px;
    border-radius: 4px;
}

.animated-info {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.679);
  border-radius: 10px;
  opacity: 0;
  transition: opacity 0.5s;
  
  animation-name: fadeInOut;
  animation-duration: 5s;
}

.data_type_text{
  color: gold;
  font-weight: bold;
  font-family: "Lucida Console", "Courier New", monospace;
}

@keyframes fadeInOut {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 1;
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.slider-item {
  width: 100%;
  height: 100%;
  animation: grow 1s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transform: scale(1);
}

.slider-item.active {
  width: 100%;
  height: 100%;
  animation: shrink 1s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transform-origin: center;
  transform: scale(0.8);
}

@keyframes grow {
  from {
    transform: scale(0.8);
  }
  to {
    transform: scale(1);
  }
}

@keyframes shrink {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(0.8);
  }
}
