img{
    height: 300px;
    width: 200px;
    object-fit: cover;
    border-radius: 8px;
}   

body{
    background-color: black;
    overflow: hidden;
    height: auto;
    width: auto;
    padding-bottom: 200px;
}

.App{
    background-color: black;
    padding: 15% 10%;
    
}

.slick-dots li.slick-active button:before {
    color:black !important;
}