img{
    height: 300px;
    width: 200px;
    object-fit: cover;
    border-radius: 10px;
}   

body{
    background-color: black;
    overflow: hidden;
}

.App{
    background-color: black;
    padding: 3% 10%;
    
}

.slick-dots li.slick-active button:before {
    color:black !important;
}

#test{
    color: white;
}

.buttonbar{
    margin: auto;
    width: 50%;
    text-align: center;
    display: flex;
    margin-top: 300px;
}

#searchbtn{
    margin-left: 50px;
}

#addbtn{
    margin-left: 350px;
}